/**
 * Site header
 */
.site-header {
  //border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
  font-size: 13px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 24px;
  // font-weight: bold;
  line-height: 56px;
  //letter-spacing: -1px;
  margin-bottom: 5px;


  & a:visited {
    color: $grey-color-dark;
  }
}

.site-description {
  color: #757575;
}

.site-menu {
  border-bottom: 1px solid $grey-color-light;
  margin-bottom: $spacing-unit;
  min-height: 46px;

  text-transform: uppercase;
  font-size: 12px;

  // Positioning context for the mobile navigation icon
  position: relative;

  .menu-icon {
    display: none;
  }
  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: left;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

  }
}


.site-nav {
  float: left;
  line-height: 46px;

  .menu-item {
    //color: $text-color;
    color: #6a6a6a;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .active {
    border-bottom: 4px double black;
  }
  // .active:before {
  //   content: '>> ';
  // }
  .active:hover {
    text-decoration: none;
  }

  @include media-query($on-palm) {
    float: none;

    .menu-item {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
.site-search {
  float: right;
  line-height: 46px;

  @include media-query($on-palm) {
    float: none;
  }
}

.hr-above {
  border-top: 1px solid $grey-color-light;
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 0px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit (1.5*$spacing-unit);
  margin: 48px auto;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

.page-heading {
  font-size: 20px;
}

.wrapper {
  @extend %clearfix;
}
.content {
  float: left;
  // max-width: 80%;
  // max-width: 590px;
}
.sidebar {
  float: right;
  max-width: 240px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-list > li img, .post img {
  float: right;
  margin: 0px 0 5px 24px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.post-list h1 {
  margin-bottom: 0px;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin-bottom: 10px;
}

.post-link {
  display: block;
  font-size: 22px;
}

#vineet-picture {
  background-image: url('/assets/vineet-sinha.jpg');
  background-size:100%;
  background-repeat:no-repeat;
  border-radius: 50%;

  width: 100px;
  height: 100px;

  margin: 5px auto; // center image
}


/**
 * Posts
 */
.post-header {
  // margin-bottom: $spacing-unit;
  margin-bottom: 1em;
}

.post-title {
  /* h1 */
  // font-size: 20px;
  // letter-spacing: -1px;
  // line-height: 1;

  // @include media-query($on-laptop) {
  //   font-size: 36px;
  // }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 18px;
    margin-bottom: 0px;

    // @include media-query($on-laptop) {
    //   font-size: 22px;
    // }
  }

  h3 {
    font-size: 16px;

    // @include media-query($on-laptop) {
    //   font-size: 18px;
    // }
  }

  h4 {
    font-size: 14px;

    @include media-query($on-laptop) {
      font-size: 14px;
    }
  }
}
