<div class="sidebar" style="max-width:175px">
  <aside>
    Making Software Smarter. Rethinking UX and AI at Salesforce & i3labs. {prev: PhD in HCI/CS at MIT, ACN, MSFT, MOT, MHE}
  </aside>
  <aside id="search" class="widget widget_search">
    <form id="searchform" class="searchform" role="search" method="get" action="http://i3labs.org/">
			<div>
				<label class="screen-reader-text" for="s" style="display:none">Search for:</label>
				<input type="text" value="" name="s" id="s">
				<input type="submit" id="searchsubmit" value="Search">
			</div>
  	</form>
  </aside>

</div>
