<div class="sidebar">
  <aside>
    <div id="vineet-picture"></div>
    <div style="text-align:center;font-weight:bold;">Vineet Sinha</div>
    <p>I love challenging norms by evolving technologies to make users' lives better. These days, I am exploring a lot of Emerging Technologies, especially Voice and AI. <a href="/about">Read more</a>.</p>
    <small><i>Opinions here are based on my experiences and do not represent that of any organization that I might be affiliated with.</i></small>
  </aside>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
