<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <main class="page-content" aria-label="Content">
      <header class="site-header" role="banner" style="margin-bottom: 15px;">
        <div class="site-title" style="margin-bottom: 0px;">
          {{ page.title }} <!--site.title-->
        </div>
      </header>
    
      <div class="wrapper">
        <div class="content">
          {{ content }}
        </div> <!-- content -->

      </div>

      <footer class="site-footer hr-above">

        <div class="wrapper">
      
          <h2 class="footer-heading">{{ page.title }} <!--site.title--></h2>
      
          <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
              <ul class="contact-list">
                <li>
                  <small>&copy; 2007-2023</small>
                </li>
              </ul>
            </div>
      
          </div>
      
        </div>
      
      </footer>
      
    </main>

  </body>

</html>
